@use '../util/mixins' as *;
@use '../util/variables' as *;
@use '../themes/defaultTheme' as *;


.spinner{
    @include box(100px);
    @include center-auto;
    border: 3px solid $grey-8;
    border-radius: 50%;
    border-top-color: $primary-4;
    animation: spinner 1s ease infinite;

    @keyframes spinner{
        to{
            transform: rotate(360deg);
        }
    }   
}