*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button, input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearFix::after {
  content: " ";
  display: block;
  clear: both;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #eccdb1;
  color: #b86e2e;
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  flex-direction: column;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media only screen and (min-width: 1024px) {
  .section {
    width: 95vw;
  }
}
.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: 620px;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rbga(0, 0, 0, 0.3);
}
.container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
}
.container button {
  color: #fff;
  display: block;
  width: 45%;
  border-color: transparent;
  background: #ce803b;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  outline: none;
}
.container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background: #ce803b;
  display: inline-block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 0.1rem;
  border-color: transparent;
  margin-top: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.underline {
  width: 20rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  background: #ce803b;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rbga(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.5s linear;
  visibility: hidden;
  z-index: -1;
}
.modal-overlay.showModal {
  visibility: visible;
  z-index: 99;
}

.modal-container {
  border-radius: 0.25rem;
  background: #fff;
  width: 90vw;
  height: 30vh;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #ba2626;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: #ba2626;
  transition: all 0.5s linear;
  transform: translateX(-100%);
}
.sidebar.show-sidebar {
  transform: translateX(0);
}
.sidebar .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.sidebar .close-btn {
  font-size: 2rem;
  color: #ba2626;
  transition: all 0.5s linear;
}
.sidebar .close-btn:hover {
  color: #e26f6f;
}
.sidebar .logo {
  justify-self: center;
  height: 40px;
}
.sidebar .links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: #ce803b;
  transition: all 0.5s linear;
}
.sidebar .links a:hover {
  background: #dae0e7;
  color: #20364b;
}
.sidebar .links a:hover svg {
  color: #222;
}
.sidebar .links a svg {
  font-size: 1.5rem;
  color: #6c859d;
  margin-right: 1rem;
  transition: all 0.5s linear;
}
.sidebar .social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.sidebar .social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #ce803b;
  transition: all 0.5s linear;
}
.sidebar .social-icons a:hover {
  color: #401556;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 400px;
  }
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  color: #ce803b;
  transition: all 0.5s linear;
  animation: bounce 2s linear infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.single-movie {
  width: 90vw;
  max-width: 1170px;
  min-height: 100vh;
  display: grid;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}
.single-movie img {
  width: 350px;
  margin: 0 auto;
  display: block;
}
.single-movie p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.8;
}
.single-movie .btn {
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  background: #d6955c;
  color: #fff;
  border-radius: 0.25rem;
  display: inline-block;
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
  width: auto;
}
.single-movie .page-error {
  margin: auto;
  min-height: 100vh;
  display: grid;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

@media only screen and (min-width: 1024px) {
  .single-movie {
    grid-template-columns: 1fr 2fr;
  }
}/*# sourceMappingURL=main.css.map */